.param_title{
    font-size: 24px;
    font-style: bold;
    margin-left: 8%;
}
.param_headers{
    font-size: 18px;
    font-style: bold;
    margin-left: 6%;
}

.control_box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plot_box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}